#!/usr/bin/make -f

%:
	dh $@

override_dh_installsystemd:
	dh_installsystemd --name=wb-cloud-agent@default
	dh_installsystemd --name=wb-cloud-agent-telegraf@default --no-start --no-enable
	dh_installsystemd --name=wb-cloud-agent-frpc@default --no-start --no-enable
