[Unit]
Description=Wiren Board Cloud Agent (default)
Wants=mosquitto.service
After=network.target mosquitto.service
StartLimitIntervalSec=3600
StartLimitBurst=100

[Service]
ExecStart=/usr/bin/wb-cloud-agent --daemon --provider default
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
