[Unit]
Description=Wiren Board Cloud Agent
StartLimitIntervalSec=3600
StartLimitBurst=100

[Service]
ExecStart=/usr/bin/wb-cloud-agent --daemon
ExecStartPre=/usr/lib/wb-cloud-agent/check-certs.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
