[Unit]
Description=Wiren Board Cloud Agent (%i)
Wants=mosquitto.service
After=network.target mosquitto.service
StartLimitIntervalSec=3600
StartLimitBurst=100
ConditionPathExistsGlob=/etc/wb-cloud-agent/providers/%i/*.conf

[Service]
ExecStart=/usr/bin/wb-cloud-agent --daemon --provider %i
Restart=always
RestartSec=10
RestartPreventExitStatus=6

[Install]
WantedBy=multi-user.target
