[Unit]
Description=Wiren Board Cloud Agent (%i)
Wants=mosquitto.service
After=network.target mosquitto.service
StartLimitIntervalSec=3600
StartLimitBurst=100
ConditionPathExistsGlob=/etc/wb-cloud-agent/providers/%i/*.conf

[Service]
ExecStart=/usr/bin/wb-cloud-agent --daemon --provider %i
ExecStartPre=/usr/lib/wb-cloud-agent/check-certs.sh
ExecStartPre=/usr/lib/wb-cloud-agent/activate-providers.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
