[Unit]
Description=fast reverse proxy client for Wiren Board Cloud (default)
After=wb-cloud-agent.service
StartLimitIntervalSec=3600
StartLimitBurst=100

[Service]
ExecCondition=/usr/bin/test -f /var/lib/wb-cloud-agent/frpc.conf
ExecStart=/usr/bin/frpc --config /var/lib/wb-cloud-agent/frpc.conf
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
